:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }

  /* Modal display pot styling */

.modal-title {
  color: black;
  font-weight: bold; /* Add bold style */
  font-size: 25px; /* Adjust font size as needed */
}

.rounded-circle{
  border-radius: 20% !important;
}
  