
<div class="fade-in">
        <c-card-body>
            <c-row>
                <c-col xs>
                    <c-card class="mb-4">
                        <c-card-header>Clients</c-card-header>
                        <c-card-body>
                            <table
                                [hover]="true"
                                [responsive]="true"
                                [striped]="true"
                                align="middle"
                                cTable
                                class="mb-0 border"
                            >
                                <thead cTableColor="light">
                                    <tr>
                                        <th class="text-center">
                                            <i class="bi bi-people-fill"></i>
                                        </th>
                                        <th>Client</th>
                                       <!--<th class="text-center">Ville</th>-->
                                        <th>Id</th>
                                        <th>Genre</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Details</th>
                                        <th>Delete<th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; index as i">
                                     
                                        <td class="text-center">
                                           <c-avatar
                                                size="md"
                                                src="{{ getUserPhoto(user.photo)}}" 
                                                status="{{ user.gender }}" 
                                            ></c-avatar>
                                        
                                           <!--<img [src]="getUserPhoto(user.photo)" alt="User Photo">-->
                                        </td>
                                   
                                        <td>
                                            <div>{{ user.firstName }} {{ user.lastName }}</div> <!-- Utilisez les propriétés firstName et lastName -->
                                            <div class="small text-medium-emphasis text-nowrap">
                                                <span>
                                                    {{ user.state }} | Actif {{ user.registered }}
                                                </span>
                                            </div>
                                        </td>
                                      <!-- <td class="text-center">{{ user.address.city }}</td> --> 
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.gender }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phoneNumber }}</td>
                                        <td><a (click)="displayUser(user)"><i class="bi bi-pencil-square"></i></a></td>
                                        <td><i class="bi bi-trash"  (click)="deleteUser(user.id)"></i></td>                                        
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </c-card-body>
                    </c-card>
                </c-col>


                <c-col xs>
                    <c-card class="mb-4">
                        <c-card-header>Archive des Clients</c-card-header>
                        <c-card-body>
                            <table
                                [hover]="true"
                                [responsive]="true"
                                [striped]="true"
                                align="middle"
                                cTable
                                class="mb-0 border"
                            >
                                <thead cTableColor="light">
                                    <tr>
                                        <th class="text-center">
                                            <i class="bi bi-people-fill"></i>
                                        </th>
                                        <th>Client</th>
                                       <!--<th class="text-center">Ville</th>-->
                                        <th>Id</th>
                                        <th>Genre</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of archivedusers; index as i">
                                        <td class="text-center">
                                           <c-avatar
                                                size="md"
                                                src="{{ getUserPhoto(user.photo)}}" 
                                                status="{{ user.gender }}" 
                                            ></c-avatar>
                                           
                                            <!--<img [src]="getUserPhoto(user.photo)" alt="User Photo">-->
                                        </td>
                                        <td>
                                            <div>{{ user.firstName }} {{ user.lastName }}</div> <!-- Utilisez les propriétés firstName et lastName -->
                                            <div class="small text-medium-emphasis text-nowrap">
                                                <span>
                                                    {{ user.state }} | Bloqué {{ user.registered }}
                                                </span>
                                            </div>
                                        </td>
                                      <!-- <td class="text-center">{{ user.address.city }}</td> --> 
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.gender }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phoneNumber }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </c-card-body>
                    </c-card>
                </c-col>

            </c-row>
        </c-card-body>

<!-- Display user modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Informations du client {{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ getUserPhoto(selectedUser?.photo || '') }}" class="rounded-circle" style="max-width: 100%; height: auto;" />
                      </div>
              <div class="col-lg-6">
                <div class="user-container">
                  <div class="user-header">
                    <h2 class="titleS"><b>{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</b></h2>
                  </div>
                  <h5>Email</h5>
                  <p>{{ selectedUser?.email }}</p>
                  <h5 class="mt-4">Genre</h5>
                  <p>{{ selectedUser?.gender }}</p>
                  <h5 class="mt-4">Numéro du Télèphone </h5>
                  <p>{{ selectedUser?.phoneNumber }}</p>
                  <h5 class="mt-4">Adresse</h5>
                  <p>{{ selectedUser?.address?.city }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
