 <form [formGroup]="editForm" *ngIf="editForm">

    <div class="fade-in">
        <c-card-body>
            <c-row>
                <c-col xs>
                    <c-card class="mb-4">
                        <c-card-header>Agences</c-card-header>
                        <c-card-body>
                            <div *ngIf="noAgencies" class="text-center mt-4">
                                <button
                                  class="btn btn-primary"
                                  (click)="openCreateModal()"
                                >
                                  <i class="bi bi-plus"></i> Create Your First Agency
                                </button>
                              </div>
                            <table *ngIf="!noAgencies"
                                [hover]="true"
                                [responsive]="true"
                                [striped]="true"
                                align="middle"
                                cTable
                                class="mb-0 border"
                            >
                                <thead cTableColor="light">
                                    <tr>
                                        <th></th>
                                        <th>Nom</th>
                                        <th>Ville</th>
                                        <th>Adresse</th>
                                        <th>Télèphone</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr *ngFor="let agency of agencies">
                                        <td></td>
                                        <td>
                                     
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency; else editModeName">
                                                {{ agency.name }}
                                            </ng-container>
                                            <ng-template #editModeName>
                                                <input type="text" formControlName="name" class="form-control">
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency; else editModeVille">
                                                {{ agency.ville }}
                                            </ng-container>
                                            <ng-template #editModeVille>
                                                <input type="text" formControlName="ville" class="form-control">
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency; else editModeAddress">
                                                {{ agency.address }}
                                            </ng-container>
                                            <ng-template #editModeAddress>
                                                <input type="text" formControlName="address" class="form-control">
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency; else editModeTel">
                                                {{ agency.tel }}
                                            </ng-container>
                                            <ng-template #editModeTel>
                                                <input type="text" formControlName="tel" class="form-control">
                                            </ng-template>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency; else editModeEmail">
                                                {{ agency.email }}
                                            </ng-container>
                                            <ng-template #editModeEmail>
                                                <input type="text" formControlName="email" class="form-control">
                                            </ng-template>
                                        </td>
                                       <div class="icon-container">
                                        <td>
                                            <ng-container *ngIf="editForm.value.id !== agency.idAgency">
                                                <button type="button" class="btn btn-primary modalbtn" (click)="editAgency(agency.idAgency)">
                                                    <i class="bi bi-pencil-square"></i> <!-- Icon for editing agency -->
                                                </button>
                                            </ng-container>
                                            <ng-container *ngIf="editForm.value.id === agency.idAgency">
                                                <button type="button" class="btn btn-primary modalbtn" (click)="submitChanges()">
                                                    <i class="bi bi-check fa-2x"></i> <!-- Icon for submitting changes -->
                                                </button>
                                            </ng-container>
                                        </td>
                                        <td> <button type="button" class="btn btn-danger modalbtn" (click)="deleteAgency(agency.idAgency)">
                                            <i class="bi bi-trash fa-2x"></i> <!-- Icon for deleting agency -->
                                        </button>
                                       </td>
                                       <td>
                                        <button type="button" class="btn btn-info modalbtn" (click)="openCreateModal()">
                                            <i class="bi bi-plus-square fa-2x"></i> <!-- Icon for creating a new agency -->
                                        </button>
                                        </td>
                                    </div>
                                    </tr>
                                </tbody>
                            </table>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
        </c-card-body>
    </div>
</form>

<div class="modal fade" id="agencyModal" tabindex="-1" aria-labelledby="agencyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Add Agency</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <form [formGroup]="createForm" (ngSubmit)="submitCreateForm()">
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="ville" class="form-label">Ville</label>
                    <input type="text" class="form-control" id="ville" formControlName="ville" required>
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" formControlName="address" required>
                  </div>
                  <div class="mb-3">
                    <label for="tel" class="form-label">Téléphone</label>
                    <input type="tel" class="form-control" id="tel" formControlName="tel">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>