.btn-primary {
    --cui-btn-color: rgba(255, 255, 255, 0.87) !important;
    --cui-btn-bg: #8f7215 !important;
    --cui-btn-border-color: #8f7215 !important;
    --cui-btn-hover-color: rgba(255, 255, 255, 0.87) !important;
    --cui-btn-hover-bg: #d7ba5b !important;
    --cui-btn-hover-border-color: #d7ba5b !important;
    --cui-btn-focus-shadow-rgb: 75, 58, 223 !important;
    --cui-btn-active-color: #8f7215 !important;
    --cui-btn-active-bg: #ffffff !important;
    --cui-btn-active-border-color: #ffffff !important;
}

.modalbtn{
    margin: 0 10px 0 10px;
}

.icon-container {
    display: flex;
    align-items: center;
}