<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Connectez-vous à votre compte</p>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    <i class="bi bi-person-fill"></i>                  
                  </span>
                  <input id="login" placeholder="Username" [(ngModel)]="login" name="login" type="login" class="form-control"/>
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text">
                    <i class="bi bi-eye-fill" (click)="togglePasswordVisibility($event)"></i>
                  </span>
                  <input id="password" placeholder="Password" type="password" [(ngModel)]="password" name="password" #passwordInput class="form-control"/>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-primary px-4" type="submit">Login</button>
        
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-link px-0" type="submit">
                      Forgot password?
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div [ngStyle]="{'width.%': 44}" class="card text-white bg-primary py-5">
            <div class="card-body text-center">
              <div class="centered">
                <h3>Bienvenue à DigiBank Administration</h3>
                <button class="btn btn-primary reg mt-3" [routerLink]='"/register"'>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Textured background icons -->
<i class="bi bi-flag"></i>
<i class="bi bi-heart"></i>
``
