  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Profil de l'administrateur
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="username" class="form-label">Nom d'utilisateur</label>
                  <p id="username" class="profile-info"></p>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <p id="email" class="profile-info"></p>
                </div>
                <div class="mb-3">
                  <label for="login" class="form-label">Login</label>
                  <p id="login" class="profile-info"></p>
                </div>
                <div class="mb-3">
                  <label for="role" class="form-label">Rôle</label>
                  <p id="role" class="profile-info"></p>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Vous pouvez ajouter d'autres détails de profil ici -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

